<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.panxiaochao.system.development.infrastructure.mapper.DatabaseSourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.panxiaochao.system.development.infrastructure.po.DatabaseSourcePO">
        <id column="id" property="id"/>
        <result column="db_name" property="dbName"/>
        <result column="db_code" property="dbCode"/>
        <result column="db_host" property="dbHost"/>
        <result column="db_port" property="dbPort"/>
        <result column="db_type" property="dbType"/>
        <result column="db_driver" property="dbDriver"/>
        <result column="db_jdbc_url" property="dbJdbcUrl"/>
        <result column="db_username" property="dbUsername"/>
        <result column="db_password" property="dbPassword"/>
        <result column="test_conn" property="testConn"/>
        <result column="test_conn_time" property="testConnTime"/>
        <result column="remark" property="remark"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_id" property="createId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , db_name, db_code, db_host, db_port, db_type, db_driver, db_jdbc_url, db_username, db_password, test_conn, test_conn_time, remark, tenant_id, create_id, create_time, update_time
    </sql>

</mapper>
